# Prepare Taxi Data Linear Model Analysis

**This note book prepare the taxi data to analyse with linear model**

In [1]:
# import packages

import pandas as pd

In [2]:
# Read in the data
df = pd.read_csv('../data/curated/yellowtaxi_readyforanalysis_data.csv')
df.head()

,pickup_month,pickup_date,pickup_hour,trip_duration,weekend,weekday,morning_rush,evening_rush,trip_distance,pulocationid,dolocationid,payment_type,total_surcharge,fare_amount,tip_amount,tip_ratio
0,1,2020-01-01,0,4.800000,0,1,0,0,1.2,238,239,1,3.8,6.0,1.47,13.043478
1,1,2020-01-01,0,7.416667,0,1,0,0,1.2,239,238,1,3.8,7.0,1.50,12.195122
2,1,2020-01-01,0,6.183333,0,1,0,0,0.6,238,238,1,3.8,6.0,1.00,9.259259
3,1,2020-01-01,0,4.850000,0,1,0,0,0.8,238,151,1,1.3,5.5,1.36,16.666667
4,1,2020-01-01,0,11.450000,0,1,0,0,0.7,246,48,1,3.8,8.0,2.35,16.607774

**Only take trips pick up at JFK**

In [3]:
# Only consider trip from JFK
df_pickup_JFK = df[df['pulocationid'] == 132].drop(columns=['pulocationid', 'dolocationid'])

**Create hourly bins**

In [4]:
# Create bins for pickup_hours and add to dataframe
# Add the bins for every hour

for i in range(23):
    bin_name = f"[{i}-{i+1}]"
    df_pickup_JFK[bin_name] = df_pickup_JFK['pickup_hour'].apply(lambda x: 1 if x == i else 0)

In [5]:
# Drop pick_up_month, pickup_date, pickup_hour
df_pickup_JFK = df_pickup_JFK.drop(columns=['pickup_month', 'pickup_date', 'pickup_hour'])

In [6]:
# Drop payment_type
df_pickup_JFK = df_pickup_JFK.drop(columns=['payment_type'])

In [7]:
# Change column order
# Define the new column order
column_order = [
    'trip_duration', 'weekend', 'weekday',
    *[f"[{i}-{i+1}]" for i in range(23)],  # Hourly bins
    'morning_rush', 'evening_rush', 'trip_distance', 
    'total_surcharge', 'fare_amount', 'tip_amount', 'tip_ratio'
]

# Reorder the columns in the dataframe
df_pickup_JFK = df_pickup_JFK[column_order]

In [8]:
# Save the data
df_pickup_JFK.to_csv('../data/curated/JFK_pickup_data.csv', index = False)